<style type="text/css">

body, html {
height: 100%;
padding: 0;
margine: 0;
}

body{font-family: 'Covered By Your Grace'; color: grey;}
h1 {font-family : Neucha, cursive; color: navy;}
h2 {font-family : Neucha, cursive; color: black;}


footer {
font-size: 110%;
text-align: center;
position: fixed;
bottom: 0%;
left: 50%;
transform: translate(-50%, 0%);
}  

.noselect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
} 

.nothingyet{
  position: fixed;
  transform: translate(-50%, -50%);
}

/*Assignments-#: in betwwen 20px*/

.SF{
  position: fixed;
  top: 10%;
  left: 10%;
  transform: translate(10%,10%);
}

.P{
  position: fixed;
  top: 20%;
  left: 20%;
  transform: translate(20%,20%);
}

.WD{
  position: fixed;
  top: 30%;
  left: 30%;
  transform: translate(30%,30%);
}

.CAD{
  position: fixed;
  top: 40%;
  left: 40%;
  transform: translate(40%,40%);
}

.3DPM{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(50%,50%);
}

.E{
  position: fixed;
  top: 60%;
  left: 60%;
  transform: translate(60%,60%);
}

.FD{
  position: fixed;
  top: 70%;
  left: 70%;
  transform: translate(70%,70%);
}
  
</style>  


